<nav class="navbar navbar-expand-sm bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/home"><i class="fas fa-film fa-2x"></i>&nbsp;<b style="font-size: xx-large">Películas</b></a>
      
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        </ul>
        <!-- Utilizamos div en lugar de form paara no utilizar módulos para formularios -->
        <div class="d-flex">
          <input #txtBuscar
                 (keyup.enter)="buscarPelicula(txtBuscar.value)"
                 class="form-control me-2" 
                 type="search" 
                 placeholder="Buscar películas" 
                 aria-label="Search">
          <button (click)="buscarPelicula(txtBuscar.value)" class="btn btn-outline-success"  type="submit">Buscar</button>
        </div>
      </div>
    </div>
</nav>
