
<app-loading *ngIf="loading"></app-loading>

<!-- Esto solo se va a mostrar si existe la película -->
<div class="row" *ngIf="pelicula">
    <div class="col-md-6">
        <!-- Imagen -->
        <img [src]="pelicula.poster_path | poster" [alt]="pelicula.title"
             class="img-thumbnail">
    </div>
    <div class="col-md-6">
        <!-- Detalle -->
        <h3 class="ps-1">{{ pelicula.title }}</h3>
        <div class="row">
            <div class="col text-white">
                <star-rating [starType]="'svg'" staticColor="ok" size="medium" space="around" speed="slow" [numOfStars]="10" [showHalfStars]="true" [rating]="pelicula.vote_average"></star-rating>
            </div>
            <div class="col text-white">
                <h5>{{ pelicula.vote_average | number: '1.1-2' }}</h5>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col text-white">
                {{ pelicula.overview }}
            </div>
        </div>
        <div class="row mt-5">
            <div class="col text-white">
                <button class="btn btn-outline-info" (click)="onRegresar()">
                    Regresar
                </button>
            </div>
        </div>
    </div>
</div>
<!-- Como se insertaria un video -->
<!-- <div class="row mt-4" *ngIf="pelicula">
    <div class="col-md-12 text-center">
        <iframe width="600" height="400" src="https://www.youtube.com/embed/Tfz9AhPnM8c" title="An American Werewolf in London (1981) Trailer #1 | Movieclips Classic Trailers" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>   
</div> -->

<div class="row mt-4" *ngIf="cast.length > 0">
    <div class="col">
        <app-cast-slideshow [cast]="cast"></app-cast-slideshow>
    </div>
</div>
